.practice-container {
  background-color: red;
}

.home-hero {
  background-image: linear-gradient(rgba(102, 45, 45, 0.3), rgba(0, 0, 0, 0.3)), url("https://i.ibb.co/tB9DsM8/stylish-vinyl-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
}

#form-container {
  width: 80%;
}

#login-form-container {
  width: 40%;
  margin-top: 70px;
}

#button-div {
  padding-left: 40px;
}

.purch-link {
  text-decoration: none;
}

#home-carousel {
  background-size: cover;
  height: 50vh;
}

.carousel-item {
  height: 50vh;
  background-position: center;
  background-size: cover;
}

#record-index-hero {
  background-image: linear-gradient(rgba(102, 45, 45, 0.3), rgba(0, 0, 0, 0.3)), url('https://i.ibb.co/K56ssL5/wallpaperflare-com-wallpaper.jpg');
}

#artist-index-hero {
  background-image: linear-gradient(rgba(51, 23, 23, 0.3), rgba(0, 0, 0, 0.3)), url('https://i.ibb.co/x8MZnxL/dj-back.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#artists-and-reviews {
  background-color: rgba(66, 64, 64, 0.2);
}

#pic-and-info {
  background-color: rgba(66, 64, 64, 0.1);
  padding: 20px;
  border-radius: 10px;
}

#add-record-con {
  width: 40%;
  margin-top: 30px;
  margin-bottom: 40px;
}

#playlist-box {
  box-shadow: 0 4px 16px 0 rgba(0,0,0, 0.8);
}

