.practice-container {
  background-color: red;
}

.home-hero {
  background-image: url("https://i.ibb.co/K56ssL5/wallpaperflare-com-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
}

#record-single-pic {
  border: 5px;
  border-color: black;
}

#form-container {
  width: 30%;
}