.practice-container {
  background-color: red;
}

.home-hero {
  background-image: url("https://i.ibb.co/K56ssL5/wallpaperflare-com-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
}

#record-single-pic {
  border: 5px;
  border-color: black;
  // filter: blur(0px);
}

#form-container {
  width: 30%;
}

#button-div {
  padding-left: 40px;
}

#home-carousel {
  background-size: cover;
  // background-position: center;
  height: 50vh;
}

.carousel-item {
  height: 50vh;
  background-position: center;
  background-size: cover;
  // backdrop-filter: blur(8px);
  // filter: blur(8px);
}